.FormHome {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.FormHome label {
    margin-bottom: 20px;
}

.FormHome__input,
.FormHome__textarea {
    background-color: var(--white);
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--borderRadius);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.FormHome__textarea {
    height: 80px;
    resize: vertical;
}

.FormHome__btn {
    padding: 10px 20px;
    background-color: var(--primary--color);
    color: white;
    min-width: 200px;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.FormHome__btn:hover {
    background-color: var(--secondary--color);
}