.FormHome {
    display: flex;
    flex-direction: column;
}

.FormHome__input {
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.FormHome__textarea {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.FormHome__btn {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    width: 20rem;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    cursor: pointer;
}

.FormHome__btn:hover {
    background: var(--light--color);
}