@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --white: #fff;
    --primary--color: rgb(94, 99, 236);
    --secondary--color: rgba(139, 94, 236, 0.8);
    --light--color: #f1f1f1;
    --tertiary--color: #4e5166;
    --borderRadius: 10px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    background-color: #eee;
}

img {
    max-width: 100%;
}

button {
    font-size: 1.6rem;
}