.Header {
    background-color: var(--primary--color);
    min-height: 15rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.Header__img {
    width: 100%;
    max-width: 40rem;
    padding-left: 2rem;
}

.Header__container--user {
    min-width: 15rem;
    max-width: 30rem;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Header__btn {
    text-decoration: none;
    color: var(white);
    padding: .8rem;
    border-radius: 1rem;
    margin: 0 1rem;
    background-color: var(--secondary--color);
}

.Header__btn:hover {
    background: var(--white);
}

@media (max-width: 630px) {
    .Header__img {
        padding: 1rem;
        width: 100%;
    }

    .Header__container--user {
        align-items: center;
        max-width: 100%;
        width: 100%;
        flex-direction: row;
        padding: 0 1rem;
    }
}