.Header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary--color);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.Header__img {
    max-width: 25rem;
}

.Header__container--user {
    min-width: 15rem;
    max-width: 30rem;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    font-size: 2rem;
}

.Header__btn {
    text-decoration: none;
    color: var(--white);
    padding: .8rem;
    border-radius: var(--borderRadius);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 1rem;
    background-color: var(--secondary--color);
    cursor: pointer;
    transition: all 0.4s;
}

.Header__btn:hover {
    background: var(--white);
    color: var(--tertiary--color);
}

@media (max-width: 630px) {
    .Header__img {
        padding: 1rem;
        width: 100%;
    }

    .Header__container--user {
        align-items: center;
        max-width: 100%;
        width: 100%;
        flex-direction: row;
        padding: 0 1rem;
    }
}